body {
  background-color: #2f2f2f !important;
  height: 100vh;
}

.aboutWrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  font-size: 25px;
  color: rgb(202, 202, 202);
  height: 91vh;
}
.homeWrapper {
  display: flex;
  height: 91vh;
  width: 50%;
  color: rgb(202, 202, 202);
  align-items: center;
  margin: 0 auto;
  font-size: 40px;
  line-height: 1.5;
}
.contactWrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

footer {
  background: #1b242f;
  width: 100%;
  height: 20%;
  margin-top: 22%;
  align-items: flex-end;
}
.mail:hover {
  color: #a23838;
}
.linkedin:hover {
  color: #1e70bf;
}
.github:hover {
  color: wheat;
}

.socialIcons {
  background: black;
  padding: 50px;
  position: fixed;
  bottom: 0%;
}
.socialIcons > a {
  color: #2f2f2f;
}
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
.author {
  font-family: "Poiret One", cursive !important;
  letter-spacing: 0.2em;
}
.mailAdress {
  color: rgb(202, 202, 202);
}

@media only screen and (max-width: 768px) {
  .homeWrapper {
    font-size: 30px;
  }
  .aboutWrapper {
    height: 100%;
  }
}
