body {
  background-color: #2f2f2f !important;
  max-height: 100%;
}
.aboutWrapper {
  color: rgb(202, 202, 202);
}
.homeWrapper {
  margin: 5% auto;
  width: 50%;
  color: rgb(202, 202, 202);
  font-size: 40px;
  line-height: 1.5;
}
.mail {
  color: #a23838;
}
.linkedin {
  color: #1e70bf;
}
.github {
  color: wheat;
}
.xing {
  color: olive;
}
.contactInfo {
  margin-top: 25%;
}
.socialIcons {
  background: black;
  position: absolute !important;
  width: 100%;
  left: 0;
  bottom: 0;
}
.socialIcons > a {
  color: #2f2f2f;
}
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
.author {
  font-family: "Poiret One", cursive !important;
  letter-spacing: 0.2em;
}
.mailAdress {
  text-align: left;
  color: rgb(202, 202, 202);
}
.contactHeader {
  font-size: 50px;
  text-decoration: underline;
  color: rgb(202, 202, 202);
  text-align: left;
}
.description > div > h1 {
  text-decoration: underline;
}

.modal-btn {
  margin-bottom: 1rem !important;
}

.aboutLink,
.contactLink,
.portfolioLink {
  text-decoration: underline;
  color: inherit;
}
@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.card:hover {
  cursor: pointer;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@media only screen and (max-width: 768px) {
  .homeWrapper {
    font-size: 30px;
    width: 80%;
  }
  .aboutWrapper {
    width: 70%;
    margin: 0 auto;
  }
}
