body {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
#root {
  width: 80%;
}
.main-text-container {
  font-weight: 300;
}
.header {
  height: 70vh;
  display: flex;
  align-items: center;
  color: #58656d;
}
.information {
  background-color: #e9e9e9;
  height: 100%;
  padding-top: 20px;
}
.profile-photo {
  border-radius: 50%;
  object-fit: cover;
  width: 30em;
  height: 30em;
}
.main-text {
  margin: 60px;
  vertical-align: middle;
}
.main-text-container {
  width: 50%;
  flex-direction: column;
}

.main-header {
  font-weight: 300;
  font-size: 29px;
}
.Typist {
  font-size: 25px;
}

.Typist > span {
  font-size: 40px;
  color: #f19e8e;
}
.long-description {
  font-weight: 200;
  font-size: 20px;
}
.CodeMirror {
  margin: 2em auto;
}
.social-icons {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  justify-content: space-evenly;
}
.github {
  opacity: 0.5;
}
.github:hover {
  opacity: 1;
  transition: 0.5s;
}
.linkedin {
  opacity: 0.5;
}
.linkedin:hover {
  opacity: 1;
  transition: 0.5s;
}
